/* GLOBAL */

body{
  margin: 0 auto;
  font-family: Helvetica;
}

/* LOGO & NAVIGATION */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

h1{
  font-weight: normal;
  line-height: 32px;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

nav ul{
  display: flex;
  list-style: none;
  margin-right: 24px;
}

nav ul li{
  margin: auto 8px;
}

/* MAIN BANNER */

.main-banner{
  background-color: #DCDCDC;
  display: flex;
}

.img-container{
  width: 60%;
}

.img-container-large{
  padding: 32px 24px;
}

img{
  width: 100%;
}

.main-banner-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.main-banner p{
  font-size: 28px;
}

.button{
  background-color: #696969;
  margin-top: 32px;
}

.button p{
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 20px
}

.headlines{
  font-size: 45px;
  margin-bottom: 32px;
}

/* INFO BANNER */

.info-banner{
  display: flex;
}

  /* ARTICLE */

.article-container{
  width: 60%;
}

.article{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-text-container{
  margin: 0 24px 32px 24px;
}

.article-text-container h2{
  margin: 0 auto 24px auto;
}

.quote p{
  margin-bottom: 30px;
}

.quote .author{
  font-weight: bold;
}

  /* INFORMATION TILES */

.information{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 32px;
  padding-bottom: 62px;
  justify-content: space-between;
}

.information-tile{
  display: flex;
  border: 1px solid #DCDCDCDC;
  padding: 16px;
}

.information-img{
  width: 35%;
}

.information img{
  height: auto;
}

.information-text{
  width: 65%;
  padding-left: 16px;
}

.information-read-more{
  color: #87CEEB
}

.highlight{
  background-color: #DCDCDC
}

/* COURSES BANNER */

.courses-banner{
  background-color: #DCDCDC
}

.courses-banner h2{
  padding-top: 32px;
  text-align: center;
}

.courses-container{
  padding: 0 72px 32px 72px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.course{
  padding: 16px;
  width: 270px;
  height: 275px;
  display: flex;
}

.course-wrapper{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.course img{
  height: auto;
}

.course p{
  font-size: 12px;
}

.text-wrapper{
  padding-left: 16px;
}
