/* GLOBAL */

body{
  margin: 0 auto;
  font-family: Helvetica;
}

/* LOGO & NAVIGATION */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

h1{
  font-weight: normal;
  line-height: 32px;
}

.logo{
  display: flex;
  align-items: center;
  margin-left: 24px;
}

nav ul{
  display: flex;
  list-style: none;
  margin-right: 24px;
}

nav ul li{
  margin: auto 8px;
}

/* MAIN BANNER */

.main-banner{
  background-color: #DCDCDC;
  display: flex;
}

.img-container-large{
  width: 60%;
  padding: 32px 24px;
}

img{
  width: 100%;
}

.main-banner-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  width: 30%;
}

.main-banner h2{
  font-size: 48px;
  margin-bottom: 20px;
}

.main-banner p{
  font-size: 28px;
}

.button{
  background-color: #696969;
  margin-top: 20px;
}

.button p{
  color: white;
  text-align: center;
  padding: 8px;
  font-size: 20px
}
