/* GLOBAL */

body{
  margin: 0 auto;
  font-family: Helvetica;
}

/* LOGO & NAVIGATION */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  font-weight: normal;
}

.logo{
  display: flex;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
}

/* MAIN BANNER */

.main-banner{
  background-color: #DCDCDC;
}

.img-container-large{
  width: 60%;
  padding: 32px 24px;
}

img{
  width: 100%;
}
